/* variable */
body {
  font: 1em/1em Helvetica, sans-serif;
  color: #333333; }

/* nesting */
nav ul {
  margin: 0;
  padding: 0; }
nav li {
  height: 10px;
  line-height: 10px; }
nav a {
  color: #333333; }

/* Partial */
/* _reset.scss */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

/* mixins */
.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

/* Extend or Inheritence */
.message, .error, .sucess, .warning {
  border: 1px solid #ccc;
  color: #333;
  padding: 10px; }

.error {
  border-color: red; }

.sucess {
  border-color: green; }

.warning {
  border-color: orange; }

/* Operators(+,-,*,/ and %) */
.article {
  width: 62.5%; }

.aside {
  width: 20.83333%; }

/* Referencing parent selectors : &*/
a {
  font-weight: bold; }
  a:hover {
    text-decoration: none; }
  body.firefox a {
    font-weight: normal; }

/* Nested name space - nested properties */
.funcky {
  font-size: 16px;
  font-family: fantacy;
  font-weight: bold; }

/*
		multline comment will shown on
	out put
*/
