div#matrix .row div{
	width:100px;
	height: 100px;
	float:left;
	margin:10px;
	background-color:#eee;
	text-align: center;
}
.row{
	clear:both;
	overflow:hidden;
}

.red {
	background-color: red !important;
}

.green{
	background-color: green !important;
}

.blue {
	background-color: blue !important;
}

.dotted {
	border: 1px dotted #000;
}
